@model BackToFront.TestApp.Controllers.TestModel
@using BackToFront.TestApp.Controllers
@{
    ViewBag.Title = "TestForm";
}

@Html.RenderRulesForModel(TestModel.Repository, true)
<h2>TestForm</h2>

@using (Html.BeginForm())
{     
    @Html.LabelFor(m => m.ValidateFlag)<br />
    @Html.CheckBoxFor(m => m.ValidateFlag)<br />
    
    @Html.LabelFor(m => m.Name)<br />
    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)<br />
    
    @Html.LabelFor(m => m.RequireThat)<br />
    @Html.EditorFor(m => m.RequireThat)
    @Html.ValidationMessageFor(m => m.RequireThat)<br />
    
    @Html.LabelFor(m => m.TestAllOk)
    @Html.EditorFor(m => m.TestAllOk)
    @Html.ValidationMessageFor(m => m.TestAllOk)

    <input type="submit" value="Go" />
}
<br />
<br />
<br />
        Options to:
    <ul>
        <li>Only validate current</li>
        <li>Validate current and everything else in the ValidationSubjects</li>
        <li>Validate when RequiredForValidation field is triggered</li>
    </ul>
