@model BackToFront.TestApp.Controllers.TestModel
@using BackToFront.TestApp.Controllers
@{
    ViewBag.Title = "TestForm";
}

    @Html.RenderRulesForModel(TestModel.Repository, true)
<h2>TestForm</h2>

@using (Html.BeginForm()) 
{ 
    
    @Html.LabelFor(m => m.ValidateFlag)<br />
    @Html.CheckBoxFor(m => m.ValidateFlag)<br />
    
    @Html.LabelFor(m => m.Name)<br />
    @Html.EditorFor(m => m.Name)<br />
    @Html.ValidationMessageFor(m => m.Name)<br />
    
    @Html.HiddenFor(m => m.RequireThat)
    
    @Html.LabelFor(m => m.TestAllOk)
    @Html.EditorFor(m => m.TestAllOk)
    @Html.ValidationMessageFor(m => m.TestAllOk)

    <input type="submit" value="Go" />
}